extends template
block content
    div.w-800.message
        p Hello, #{userName}!
        | You forgot to add photo to your product #{productTitle}.
        | If you want to do it go to the link #{productUpdateUrl}
